.menu-item{
  width: 25%;
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;

}
#logo {
  vertical-align: middle;
  position: relative;
  height: 50px;
  display: block;
}
#logo>#title{
  position:absolute;
  bottom: 30%;
  padding-left: 10px;
  color: #254d0d;
}
#breadcrumbs {
  margin-top: 5px;
}
#breadcrumbs>a{
  color: black;
  text-decoration: rebeccapurple;
}
#breadcrumbs>.active{
  color:   #254d0d;
}
#menu{
  margin-top: 10px;
   text-align: center;
}
header, #main{
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
header>span{
  display: inline-block;
  width: 50%;
}
#table{
  display: inline-block;
  text-align:center;
  margin-right:auto;
  margin-left:auto;
  max-width: 1200px;
}