.menu-item{
  width: 25%;
  border: 1px solid red;
  display: inline-block;
  margin-right: 5%;
}
#menu{
  margin-top: 10px;
  border: 1px solid green;
}
#main{
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
